<div class="h-size" (touchstart)="post = $event.changedTouches[0].pageX" (touchend)="moveTouch($event.changedTouches[0].pageX)">
    <div class="w-100 h-100 bg-dark position-relative">
        <div class="w-100 h-100 position-absolute bg-light {{zIndex}}"></div>
        <div class="w-100 h-100 position-absolute z-2 position-relative">
            <img [src]="img.src" [alt]="img.alt" class="h-100 w-100 position-absolute">
            <div class="top-80 position-absolute start-85">
                <div class="circle text-center">
                    <div class="h-50 mt-1 fnt-16" (click)="prev()">
                        <fa-icon [icon]="left"></fa-icon>
                    </div>
                </div>
                <div class="circle text-center" (click)="next()">
                    <div class="h-50 mt-1 fnt-16">
                        <fa-icon [icon]="right"></fa-icon>
                    </div>
                </div>
            </div>
            <div class="position-absolute text-center w-100 top-90">
                <div class="w-100 h-100">
                    <div *ngFor="let item of data; let in = index" (click)="move(in)"
                        [ngClass]="in == number ? 'crcl mx-1 d-inline-block active' : 'crcl mx-1 d-inline-block'">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>