.h-size{
    height: 250px;
}

.brd-rad {
    border-radius: var(--product);
}

/* responsive */

/* for bigger than laptop */
@media screen and (min-width: 1200px) {

}

/* for laptop */
@media screen and (max-width: 1200px) {
    .fnt-14 {
        font-size: var(--fnt-13);
    }
    
    .fnt-11 {
        font-size: var(--fnt-10) !important;
    }
    
}

/* for tablet */
@media screen and (max-width: 991.5px) {
    .h-size{
        height: 220px;
    }

    .fnt-14 {
        font-size: var(--font-name) !important;
    }

    .fnt-11 {
        font-size: var(--font-number);
    }
}

/* for phone */
@media screen and (max-width: 767px) {
    .h-size {
        height: 370px;
    }

    .w-80 {
        width: 100% !important;
    }
        
    .fnt-14 {
        font-size: var(--font-ls-name) !important;
    }

    .fnt-11 {
        font-size: var(--font-ls-number);
    }
}