<div class="h-size mt-md-5 mt-3 position-relative" *ngIf="data!= null">
    <div class="fw-bold h-10">
        <div class="w-50 h-100 d-inline-block">
            <strong class="fnt-16">Products Category</strong>
        </div>
    </div>
    <div class="h-90">
        <div class="row mt-3">
            <div class="col-6 col-md-4 h-75 mt-2 text-center mx-auto" *ngFor="let item of data" [routerLink]="item.routerAddress" [queryParams]="{id: item.routerId}">
                <div class="w-80 h-75 mx-auto">
                    <img [src]="item.src" [alt]="item.name" class="brd-rad w-100 h-100">
                </div>
                <div>
                    <p class="fw-bold mt-2 mb-0 fnt-14">
                        {{item.name}}
                    </p>
                </div>
                <div>
                    <p class="text-secondary mt-1 fnt-11">
                        (count :{{item.count}})
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>