.h-col{
    height: 260px;
}

.brd {
    border: 0.7px solid var(--bs-secondary);
}

.shape {
    border-radius: 70% 40% 30% 25%;
    transform: rotate(30deg);
    top: 3% !important;
}

/* responsive */


/* for bigger than laptop */
@media screen and (min-width: 1200px) {

}

/* for laptop */
@media screen and (max-width: 1200px) {
    .h-60{
        height: 60% !important;
    }

    .h-40{
        height: 40% !important;
    }

    .fnt-11{
        font-size: 10px !important;
    }

    .fnt-12{
        font-size: 10px !important;
    }

    .fnt-14{
        font-size: 12px !important;
    }
}

/* for tablet */
@media screen and (max-width: 991.5px) {
    .h-60{
        height: 60% !important;
    }

    .h-40{
        height: 40% !important;
    }

    .fnt-11{
        font-size: 10px !important;
    }

    .fnt-12{
        font-size: 12px !important;
    }

    .fnt-14{
        font-size: 14px !important;
    }
}

/* for mobile phone */
@media screen and (max-width: 767px) {
    .h-col {
        height: 120px;
    }

    .shape {
        width: 20px;
        height: 15px;
        border-radius: 70% 40% 30% 25%;
        transform: rotate(30deg);
        top: 3% !important;
    }    

    .h-60{
        height: 60% !important;
    }

    .h-40{
        height: 40% !important;
    }

    .fnt-11{
        font-size: 9px !important;
    }

    .fnt-12{
        font-size: 10px !important;
    }

    .fnt-14{
        font-size: 12px !important;
    }

    .w-15 {
        width: 25% !important;
    }

    .fnt-18{
        font-size: 14px !important;
    }
}

/* for small phone */
@media screen and (max-width: 336px) {
    .h-60{
        height: 60% !important;
    }

    .h-40{
        height: 40% !important;
    }

    .fnt-11{
        font-size: 11px !important;
    }

    .fnt-12{
        font-size: 12px !important;
    }

    .fnt-14{
        font-size: 14px !important;
    }

    .w-15 {
        width: 25% !important;
    }

    .fnt-18{
        font-size: 14px !important;
    }
}