<div class="container-fluid position-fixed d-none d-lg-flex z-index-low h-size main-bg-warning" [ngClass]="{'animation': animation == true , 'top-uni': animation == false}">
    <div class="container">
        <div class="row h-size">
            <div class="col-2 h-100 main-bg-dark text-light">
                <div class="fnt-14 w-15 h-50 mt-xl-1 mt-lg-2 d-inline-block ">
                    <fa-icon [icon]="list"></fa-icon>
                </div>
                <p class="fnt-12 d-inline-block fw-medium"> 
                    Shop by categories
                </p>
                <div class="fnt-14 h-50 mt-1 d-inline-block ms-3">
                    <fa-icon [icon]="down"></fa-icon>
                </div>
            </div>
            <div class="col-1 h-100 main-text-dark text-center">
                <p class="fnt-14 my-0 fw-bold mt-2 pt-0 pt-lg-1 pt-xl-0" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    Home
                </p>
            </div>
            <div class="col-1 h-100 main-text-dark text-center">
                <p class="fnt-14 my-0 fw-bold mt-2 pt-0 pt-lg-1 pt-xl-0">
                    About us
                </p>
            </div>
            <div class="col-1 h-100 main-text-dark text-center">
                <p class="fnt-14 my-0 fw-bold mt-2 pt-0 pt-lg-1 pt-xl-0">
                    Contact us
                </p>
            </div>
            <div class="col-1 h-100 main-text-dark text-center">
                <p class="fnt-14 my-0 fw-bold mt-2 pt-0 pt-lg-1 pt-xl-0">
                    Blog
                </p>
            </div>
            <div class="col-1 h-100 main-text-dark text-center">
                <p class="fnt-14 my-0 fw-bold mt-2 pt-0 pt-lg-1 pt-xl-0">
                    Delivery
                </p>
            </div>
            <div class="col-2">

            </div>
            <div class="col-3 h-100 main-text-dark text-center">
                <p class="fnt-12 my-0 fw-medium mt-2">
                    Free shopin on orders $50+
                </p>
            </div>
        </div>
    </div>
</div>