<div class="mt-header bg-main-dark-opacity h-top">
    <div class="ms-4">
        <p class="fw-bold fnt-18 mb-1 pt-2 pt-lg-0" (click)="native()">Home</p>
        <p class="fw-medium fnt-12 text-secondary" (click)="native()"> come back to homepage</p>
    </div>
</div>
<div class="container-fluid h-size mt-3" *ngIf="data">
    <div class="contaner h-100">
        <div class="row h-100">
            <div class="col-1"></div>
            <div class="col-10 h-100">
                <div class="row h-100">
                    <div class="col-lg-5 col-12 h-50">
                        <div class="h-90 w-80 mx-auto">
                            <div class="h-100 w-100 position-relative brd-rad brd"
                                [ngClass]="{'img' : boolean == true}" (touchstart)="post = $event.changedTouches[0].pageX" (touchend)="moveTouch($event.changedTouches[0].pageX)">
                                <img [src]="copy.srcAll[i]" [alt]="copy.description.caption"
                                    class="w-80 h-90 top-5 start-10 position-absolute">
                                <div class="position-absolute start-5" (click)="animation()">
                                    <fa-icon [icon]="zoom"
                                        [ngClass]="{'main-text-warning' : boolean == true}"></fa-icon>
                                </div>
                            </div>
                        </div>
                        <div class="h-10 w-80">
                            <div class="row w-60 ms-md-auto ms-middle mt-3">
                                <div class="col-2" (click)="prev()">
                                    <p class="fnt-14 fw-medium text-center">
                                        <fa-icon [icon]="prevIcon"></fa-icon>
                                    </p>
                                </div>
                                <div class="col-1">
                                    <p class="fnt-12">
                                        {{firstNumber}}
                                    </p>
                                </div>
                                <div class="col-1">
                                    <p class="fnt-12">/</p>
                                </div>
                                <div class="col-1">
                                    <p class="fnt-12">
                                        {{copy.srcAll.length}}
                                    </p>
                                </div>
                                <div class="col-2" (click)="next()">
                                    <p class="fnt-14 fw-medium text-center">
                                        <fa-icon [icon]="nextIcon"></fa-icon>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-10 h-50 ms-3 ms-md-5 mt-4 mt-md-3 mt-lg-0 ms-lg-0">
                        <div class="row">
                            <div class="col-md-3 col-5">
                                <fa-icon [icon]="star" class="main-text-warning fnt-11"></fa-icon>
                                <fa-icon [icon]="star" class="main-text-warning fnt-11"></fa-icon>
                                <fa-icon [icon]="star" class="main-text-warning fnt-11"></fa-icon>
                                <fa-icon [icon]="star" class="main-text-warning fnt-11"></fa-icon>
                                <fa-icon [icon]="star" class="main-text-warning fnt-11"></fa-icon>
                            </div>
                            <div class="col-md-2 col-4">
                                <p class="fw-medium text-secondary fnt-12 mt-1">(1 review)</p>
                            </div>
                        </div>
                        <div class="row">
                            <p class="fnt-18 fw-bold">{{copy.description.name}}</p>
                        </div>
                        <div class="row">
                            <div class="col-3 col-md-2 text-decoration-line-through fnt-15 fw-medium text-secondary">
                                {{copy.off |
                                currency}}</div>
                            <div class="col-4 col-md-2 fnt-17 fw-bold text-dark">{{copy.price | currency}}</div>
                            <div class="col-4 col-md-2 col-lg-3 col-xl-2 fnt-11 fw-medium main-bg-warning h-60 mt-1 text-center">save {{(copy.off -
                                copy.price)/copy.off | percent}}</div>
                        </div>
                        <div class="brd-top mt-2">
                            <p class="fw-medium fnt-13 text-secondary mt-3">{{copy.description.caption |
                                limited:21}}
                            </p>
                        </div>
                        <div class="row mt-4 mt-md-5">
                            <div class="col-4">
                                <label for="{{copy.description.situation.filter.filterType}}"
                                    class="fw-bold main-text-dark">{{copy.description.situation.filter.filterType}}</label>
                            </div>
                            <div class="col-12 col-md-10 ms-md-0 ms-3">
                                <select id="{{copy.description.situation.filter.filterType}}"
                                    class="btn bg-light w-50 text-center mt-2" [(ngModel)]="optionData"
                                    (ngModelChange)="cartSitun()">
                                    <option value="{{item}}"
                                        *ngFor="let item of copy.description.situation.filter.filterName">{{item}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-5" *ngIf="cartSituation">
                            <div class="col-7 col-md-5">
                                <p class="fnt-15 fw-bold">
                                    price : {{item.whole | currency}}
                                </p>
                            </div>
                            <div class="col-5 col-md-4">
                                <p class="fnt-15 fw-bold">
                                    count : {{item.count}}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-3 mt-2" *ngIf="cartSituation">
                                <div class="brd brd-rad w-100 h-100">
                                    <div class="sign" (click)="plusnumber()">
                                        <fa-icon [icon]="plus" class="fnt-14"></fa-icon>
                                    </div>
                                    <div class="sign" (click)="minusmumber()">
                                        <fa-icon [icon]="minus" class="fnt-14"></fa-icon>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-5" *ngIf="cartSituation == false">
                                <button class="btn main-bg-warning w-100 text-center fw-medium fnt-13"
                                    (click)="addToCart(data.product)" (click)="cartSitun()">ADD TO CART</button>
                            </div>
                            <div class="col-6 col-md-9 mt-2" *ngIf="cartSituation == true">
                                <button class="btn main-bg-warning w-100 text-center fw-medium fnt-13"
                                    (click)="remove(cartProduct, data.product)" (click)="cartSitun()">REMOVE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>