<div class="h-size mt-5 container-fluid main-bg-dark mx-auto">
    <div class="container mx-auto">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 mt-5">
                <div class="w-25 h-12 text-center fnt-16 brd-btm-s fw-bold text-light mx-auto">
                    <strong>
                        News
                    </strong>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mt-5">
                <div class="w-50 h-12 text-center fnt-16 brd-btm fw-bold text-light mx-auto">
                    <strong>
                        Fast Link
                    </strong>
                </div>
                <div class="row w-70 mt-3 pt-1 mx-auto">
                    <div class="col-12 text-center">
                        <p class="d-inline-block fw-medium fnt-12 text-light pt-1 mb-1">
                            about us
                        </p>
                        <fa-icon [icon]="left" class="fnt-10 text-light mx-2"></fa-icon>
                    </div>
                </div>
                <div class="row w-70 mt-3 pt-1 mx-auto">
                    <div class="col-12 text-center">
                        <p class="d-inline-block fw-medium fnt-12 text-light pt-1 mb-1">
                            services
                        </p>
                        <fa-icon [icon]="left" class="fnt-10 text-light mx-2"></fa-icon>
                    </div>
                </div>
                <div class="row w-70 mt-3 pt-1 mx-auto">
                    <div class="col-12 text-center">
                        <p class="d-inline-block fw-medium fnt-12 text-light pt-1 mb-1">
                            contact us
                        </p>
                        <fa-icon [icon]="left" class="fnt-10 text-light mx-2"></fa-icon>
                    </div>
                </div>
                <div class="row w-70 mt-3 pt-1 mx-auto">
                    <div class="col-12 text-center">
                        <p class="d-inline-block fw-medium fnt-12 text-light pt-1 mb-1">
                            privecy
                        </p>
                        <fa-icon [icon]="left" class="fnt-10 text-light mx-2"></fa-icon>
                    </div>
                </div>
                <div class="row w-70 mt-3 pt-1 mx-auto">
                    <div class="col-12 text-center">
                        <p class="d-inline-block fw-medium fnt-12 text-light pt-1 mb-1">
                            delivery
                        </p>
                        <fa-icon [icon]="left" class="fnt-10 text-light mx-2"></fa-icon>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mt-5">
                <div class="w-50 h-12 text-center fnt-16 brd-btm fw-bold text-light mx-auto">
                    <strong>
                        contact us
                    </strong>
                </div>
                <div class="row w-70 mt-4 mx-auto">
                    <div class="col-2">
                        <fa-icon [icon]="location" class="main-text-warning fnt-15"></fa-icon>
                    </div>
                    <div class="col-10">
                        <p class="fw-medium fnt-12 text-light pt-1 mb-1">
                            Address:
                        </p>
                        <p class="fw-medium fnt-11 text-light pt-1">
                            Iran, Tehran, Azadi
                        </p>

                    </div>
                </div>
                <div class="row w-70 mt-4 mx-auto">
                    <div class="col-2">
                        <fa-icon [icon]="email" class="main-text-warning fnt-15"></fa-icon>
                    </div>
                    <div class="col-10">
                        <p class="fw-medium fnt-12 text-light pt-1 mb-1">
                            Email:
                        </p>
                        <p class="fw-medium fnt-11 text-light pt-1">
                            sadegh@gmail.com
                        </p>

                    </div>
                </div>
                <div class="row w-70 mt-4 mx-auto">
                    <div class="col-2">
                        <fa-icon [icon]="phone" class="main-text-warning fnt-15"></fa-icon>
                    </div>
                    <div class="col-10">
                        <p class="fw-medium fnt-12 text-light pt-1 mb-1">
                            Telephone:
                        </p>
                        <p class="fw-medium fnt-11 text-light pt-1">
                            09916002737
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mt-5">
                <div class="row mt">
                    <div class="col-4">
                        <div class="w-100 text-center">
                            <p class="text-light fnt-10 fw-medium pt-1">
                                social media :
                            </p>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class=" w-100 h-100 main-bg-warning brd-crcl text-center main-text-dark">
                            <fa-icon [icon]="facebook"></fa-icon>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class=" w-100 h-100 main-bg-warning brd-crcl text-center main-text-dark">
                            <fa-icon [icon]="facebook"></fa-icon>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class=" w-100 h-100 main-bg-warning brd-crcl text-center main-text-dark">
                            <fa-icon [icon]="facebook"></fa-icon>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class=" w-100 h-100 main-bg-warning brd-crcl text-center main-text-dark">
                            <fa-icon [icon]="facebook"></fa-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>