.h-size {
    height: 200px;
}

.brd-prd{
    border-radius: var(--product);
}

/* responsive */


/* for bigger than laptop */
@media screen and (min-width: 1200px) {

}

/* for laptop */
@media screen and (max-width: 1200px) {
    .h-size {
        height: 150px;
    }
}

/* for tablet */
@media screen and (max-width: 991.5px) {
    .h-size {
        height: 400px;
    }
}

/* for mobile phone */
@media screen and (max-width: 767px) {
    .h-size {
        height: 300px;
    }
}

/* for small mobile phone */
@media screen and (max-width: 336px) {
    
}