.h-size-col {
    height: 360px !important;
}

.size {
    width: 40%;
    height: 12%;
}

.brd {
    border: 2px solid var(--main-warning);
}

.brd-btn {
    border-radius: var(--btn);
}

.brd-rad {
    border-radius: var(--time);
}

.brd-bottom {
    border-bottom: 0px !important;
}

.brd-top {
    border-top: 0px !important;
}

/* responsive */


/* for bigger than laptop */
@media screen and (min-width: 1200px) {
}

/* for laptop */
@media screen and (max-width: 1200px) {
    .size {
        width: 50%;
        height: 12%;
    }
}

/* for tablet */
@media screen and (max-width: 991.5px) {
    .size {
        width: 55%;
        height: 12%;
    }
}

/* for mobile phone */
@media screen and (max-width: 767px) {

}

/* for small phone */
@media screen and (max-width: 336px) {

}