:root {
    /* colors */
    --main-dark: #343e48;
    --main-warning: #f5d101;

    /* height size */
    --height-size: 60px;
    --height-size-1: 50px;
    --height-size-2: 40px;
    --height-size-3: 100px;

    /* border radius */
    --search: 50px;
    --circle: 50%;
    --btn: 15px;
    --time: 4px;
    --product: 8px;

    /* font size */
    --fnt-8: 8px;
    --fnt-9: 9px;
    --fnt-10: 10px;
    --fnt-11: 11px;
    --fnt-12: 12px;
    --fnt-13: 13px;
    --fnt-14: 14px;
    --fnt-15: 15px;
    --fnt-16: 16px;
    --fnt-18: 18px;

}

.main-bg-dark{
   background-color: var(--main-dark) !important;
}

.main-text-dark{
    color: var(--main-dark) !important;
}

.main-bg-warning{
    background-color: var(--main-warning) !important;
}

.main-text-warning{
    color: var(--main-warning) !important;
}

/* size */

.w-15{
    width: 15% !important;
}

.h-40{
    height: 40% !important;
}

.h-60{
    height: 60% !important;
}

.h-10{
    height: 10% !important;
}

.h-90{
    height: 90% !important;
}

.h-30{
    height: 30% !important;
}

.w-80 {
    width: 80% !important;
}

.w-70 {
    width: 70% !important;
}

.top-80 {
    top: 80% !important;
}

.top-90{
    top: 90% !important;
}

.start-85 {
    left: 85% !important;
}

/* font */

.fnt-10 {
    font-size: var(--fnt-10) !important;
}

.fnt-11 {
    font-size: var(--fnt-11) !important;
}

.fnt-12 {
    font-size: var(--fnt-12) !important;
}

.fnt-13 {
    font-size: var(--fnt-13) !important;
}

.fnt-14 {
    font-size: var(--fnt-14) !important;
}

.fnt-15 {
    font-size: var(--fnt-15) !important;
}

.fnt-16 {
    font-size: var(--fnt-16) !important;
}

.fnt-18 {
    font-size: var(--fnt-18) !important;
}

/* z-index */

.z-index {
    z-index: 5 !important;
}

.z-index-low {
    z-index: 4 !important;
}