<div class="mt-3">
    <div class="fw-bold h-10">
        <div class="w-100 h-100">
            <strong class="fnt-16">Best Brands</strong>
        </div>
    </div>
    <div class="row h-size mt-3 mb-5 mb-lg-3 brd-part" *ngIf="data != null">
        <div class="col-lg-2 col-md-4 col-6 brs" *ngFor="let item of data">
            <div class="col-md-6 col-lg-9 col-6 h-50 h-col mt-md-1 mt-2 mx-auto">
                <img [src]="item.src" alt="img" class="w-100 h-100 br-img brd-img">
                <p class="text-center fnt-13 fw-bold m-0 mt-2">{{item.name}}</p>
                <p class="text-center fnt-11 text-secondary mt-1">(count: {{item.count}})</p>
            </div>
        </div>
    </div>
</div>