<div class="container-fluid main-bg-dark h-size mx-auto">
    <div class="container mx-auto">
        <div class="row h-row pt-2">
            <div class="col-3 d-none d-lg-block">
            </div>
            <div class="col-12 col-md-9 col-lg-5 mx-auto">
                <div class="row w-100 h-100 bg-light brd-rs mx-auto disp">
                    <div class="col-1">
                        <div class="w-100 h-50 mt-2 ms-2">
                            <fa-icon [icon]="search" class="mt-2"></fa-icon>
                        </div>
                    </div>
                    <div class="col-8 h-100">
                        <input type="search" class="w-100 h-100 bg-light fnt-14" placeholder="Search Here ...">
                    </div>
                    <div class="col-3 px-0">
                        <button class="btn main-bg-warning h-100 w-100 brd-rs-r fw-medium text-dark">search</button>
                    </div>
                </div>
                <div class="col-5 px-0 mx-auto disp-btn d-md-none">
                    <button class="btn main-bg-warning h-100 w-100 fw-medium text-dark">search</button>
                </div>
            </div>
            <div class="col-4 d-none d-lg-block">
                <div class="row w-100 h-100">
                    <div class="col-5"></div>
                    <div class="col-5">
                        <div class="crcl brd mx-auto text-center text-light mt-1 brd-rs-crcl fnt-18">
                            <div class="main-text-warning mt-1 d-inline-block h-75 w-50">
                                <div class="w-30 mx-auto">
                                    <fa-icon [icon]="signIn"></fa-icon>
                                </div>
                            </div>
                            <div class="main-text-warning mt-1 d-inline-block brd-start w-50 h-75">
                                <div class="w-30 mx-auto">
                                    <fa-icon [icon]="singUp"></fa-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="circle mx-auto text-center text-dark main-bg-warning mt-1 brd-rs-circle fnt-14">
                            <div class="pt-1">
                                <fa-icon [icon]="cart"></fa-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bottom d-lg-none d-block position-fixed h-size main-bg-dark">
    <div class="container">
        <div class="row h-100">
            <div class="col-3">
                <div class="h-100 w-100 text-light fnt-18 mt-2">
                    <div class="w-100 text-center">
                        <fa-icon [icon]="cart"></fa-icon>
                    </div>
                    <p class="fnt-14 pt-0 mt-0 w-100 text-center">cart</p>
                </div>
            </div>
            <div class="col-3">
                <div class="h-100 w-100 text-light fnt-18 mt-2">
                    <div class="w-100 text-center">
                        <fa-icon [icon]="singUp"></fa-icon>
                    </div>
                    <p class="fnt-14 pt-0 mt-0 w-100 text-center">account</p>
                </div>
            </div>
            <div class="col-3">
                <div class="h-100 w-100 text-light fnt-18 mt-2">
                    <div class="w-100 text-center">
                        <fa-icon [icon]="group"></fa-icon>
                    </div>
                    <p class="fnt-14 pt-0 mt-0 w-100 text-center">products</p>
                </div>
            </div>
            <div class="col-3">
                <div class="h-100 w-100 text-light fnt-18 mt-2">
                    <div class="w-100 text-center">
                        <fa-icon [icon]="home"></fa-icon>
                    </div>
                    <p class="fnt-14 pt-0 mt-0 w-100 text-center">home</p>
                </div>
            </div>
        </div>
    </div>
</div>